# no data upload
data/
figures/
plots/
code/Rmarkdown/plots-markdown/
results/
code/R/depr/
code/Rmarkdown/depr/
code/Rmarkdown/Cluster-Precip_files/figure-html/
figure-html/
.Rproj.user/

.log
.pdf
.rds
.Rhistory
.html
.jpg
.png
.bib
.nc

